#menu {
    background: #00b8ff;
    width: 200px;
    height: 500px;
    margin: 5px;
}
#imageWindow{
    width: 785px;
    height: 890px;
    position: absolute;
    background: white;
    margin: -505px 210px
}
.miniImageWindow {
	overflow: hidden;
	width: 200px;
	height: 200px;
	display: inline-block;
	margin: 5px 29px;
}