#avatarWindow {
    width: 250px;
    height: 250px;
    background: rgba(220, 247, 167, 0.12);
    margin: 10px;
    border-radius: 4px;
    display: inline-block
}
#userData{
    width: 700px;
    height: 150px;
    background: rgba(243, 241, 182, 0.48);
    margin: -265px 280px;
    position: absolute;
    border-radius: 3px;
    border: 5px solid black;
}
#newsWindow{
    position: absolute;
    width: 710px;
    height: 715px;
    margin: -95px 280px
}
#buttonForBlockOutput:hover{
    cursor: pointer;
    background: rgba(249, 232, 1, 0.52);
}
#buttonForBlockOutput{
    text-align: center;
    background: rgba(249, 232, 1, 0.13);
    width: 700px;
    height: 50px;
    margin: 0 5px;
    font-size: 30px;
    border: 1px solid black;
}
#shareTheNews{
    width: 696px;
    margin: 0 5px;
    height: 100px;
    display: none;
}
#userMenu{
    width: 250px;
    height: 500px;
    position: absolute;
    background: #e1abea;
    margin: 10px 
}
#fullNameUser{
    margin: 10px 50px;
    font-size: 40px;
}
.additionalData{
    margin: 10px 50px;
}
.aButton:hover{
    background: rgba(243, 245, 124, 0.48);
}
.aButton{
    text-decoration: none;
}
#exitButton{
    margin: 9px 410px;
    position: absolute;
    height: 20px;
    width: 100px;
    border-radius: 20px;
}